In [1]:
import pandas as pd

In [61]:
from sqlalchemy import create_engine

In [69]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2_binary-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 1.2/1.2 MB 11.6 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [3]:
pd.__version__

'2.2.2'

In [3]:
cd C:\code\data-engineering-zoomcamp\module-1-docker-terraform

C:\code\data-engineering-zoomcamp\module-1-docker-terraform

In [71]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [73]:
pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine)

'\nCREATE TABLE yellow_taxi_data (\n\t"VendorID" BIGINT, \n\ttpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\ttpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tpassenger_count BIGINT, \n\ttrip_distance FLOAT(53), \n\t"RatecodeID" BIGINT, \n\tstore_and_fwd_flag TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpayment_type BIGINT, \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tcongestion_surcharge FLOAT(53)\n)\n\n'

In [89]:
df = next(df_iter)

In [91]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [97]:
%time df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

CPU times: total: 31.2 ms
Wall time: 52 ms

0

In [99]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 5.98 s
Wall time: 12.3 s

1000

In [105]:
from time import time

In [109]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=10000)

In [111]:
while True:
    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    print(t_start)

1737827067.0680037
1737827068.378124
1737827069.7948139
1737827071.1520576
1737827072.4103968
1737827073.4618235
1737827075.2516165
1737827076.458689
1737827077.7395058
1737827079.1167192
1737827080.217574
1737827081.480154
1737827082.7429595
1737827083.994976
1737827085.1452396
1737827086.4685576
1737827087.637095
1737827088.9255419
1737827090.672746
1737827091.9811232
1737827093.215784
1737827094.3980103
1737827095.7172365
1737827096.868186
1737827098.4700844
1737827099.5909877
1737827100.651162
1737827101.8944519
1737827103.0099022
1737827104.1782076
1737827105.5892093
1737827106.7643106
1737827107.8945127
1737827109.0061283
1737827110.4924088
1737827111.8600461
1737827113.4212034
1737827114.7012494
1737827116.0095527
1737827117.520483
1737827118.9675734
1737827120.3776224
1737827122.0889316
1737827123.7536821
1737827124.94366
1737827126.2197266
1737827127.4259014
1737827128.4437146
1737827129.5727913
1737827130.744973
1737827131.8059142
1737827132.9382277
1737827133.950401
1737827135.1290457
1737827136.218699
1737827137.333985
1737827138.3404956
1737827139.4527202
1737827140.6461172
1737827141.657429
1737827142.828742
1737827143.8547826
1737827144.9900408
1737827146.2875526
1737827147.416506
1737827148.4517577
1737827149.7359238
1737827150.9047358
1737827152.067873
1737827153.1904013
1737827154.2079885
1737827155.352319
1737827156.8966572
1737827158.0716991
1737827159.0938113
1737827160.127886
1737827161.3101673
1737827162.2167816
1737827163.1318295
1737827164.359387
1737827165.2929971
1737827166.2688954
1737827167.7569237
1737827168.832107
1737827169.802419
1737827171.1312475
1737827172.5218766
1737827173.8744097
1737827175.1507213
1737827176.5122018
1737827177.665755
1737827179.2564914
1737827181.1179404
1737827182.6208808
1737827184.119505
1737827185.6952198
1737827187.2428713
1737827189.0279703
1737827190.4338083
1737827191.9998379
1737827193.6372235
1737827195.1364708
1737827196.9329836
1737827198.4732
1737827199.99106
1737827201.513192
1737827202.9120631
1737827204.5285294
1737827206.1384845
1737827207.9976885
1737827209.6764698
1737827211.1188965
1737827212.773823
1737827214.253872
1737827215.6715844
1737827217.3779197
1737827218.6057274
1737827220.0140328
1737827221.5478396
1737827223.005434
1737827224.5880973
1737827226.063822
1737827227.969466
1737827229.4998176
1737827231.037858
1737827232.606337
1737827234.3075402
1737827235.7972732
1737827237.2646413
1737827238.564805
1737827240.0894449
1737827241.5579937
1737827242.8935852
1737827244.8184366
1737827246.5033886
1737827247.7988977
1737827249.3610873

StopIteration:

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 6437-E339

 Directory of C:\Code\data-engineering-zoomcamp\module-1-docker-terraform

01/26/2025  01:38 AM    <DIR>          .
01/26/2025  01:38 AM    <DIR>          ..
01/25/2025  11:28 PM    <DIR>          .terraform
01/25/2025  11:28 PM             1,184 .terraform.lock.hcl
01/25/2025  10:29 PM             1,333 docker-compose.yaml
01/24/2025  09:28 PM               129 dockerfile
01/24/2025  10:52 PM                 0 -e
07/14/2022  10:19 AM        43,540,725 green_tripdata_2019-10.csv
01/25/2025  11:14 PM    <DIR>          keys
01/26/2025  12:46 AM               683 main.tf
01/24/2025  10:52 PM                 0 -p
01/24/2025  09:34 PM               116 pipeline.py
01/24/2025  10:52 PM                 0 postgres?
01/26/2025  01:32 AM             1,135 services
01/26/2025  01:37 AM            12,322 taxi_zone_lookup.csv
01/26/2025  12:47 AM               181 terraform.tfstate
01/26/2025  12:47 AM             6,714 terraform.tfstate.backup
01/24/2025  10:52 PM                 0 -v
01/26/2025  12:46 AM               425 variables.tf
              15 File(s)     43,564,947 bytes
               4 Dir(s)  1,295,596,568,576 bytes free

In [7]:
import pandas as pd
import sqlite3

In [21]:
df1 = pd.read_csv("green_tripdata_2019-10.csv", low_memory=False)
df2 = pd.read_csv("taxi_zone_lookup.csv")
conn = sqlite3.connect(":memory:")

df1.to_sql("trips", conn, index=False, if_exists="replace")
df2.to_sql("zones", conn, index=False, if_exists="replace")

265

In [31]:
query = """
SELECT *
FROM trips
LIMIT 3
"""

result = pd.read_sql_query(query, conn)
print(result)

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0       2.0  2019-10-01 00:26:02   2019-10-01 00:39:58                  N
1       1.0  2019-10-01 00:18:11   2019-10-01 00:22:38                  N
2       1.0  2019-10-01 00:09:31   2019-10-01 00:24:47                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0           112           196              1.0           5.88
1         1.0            43           263              1.0           0.80
2         1.0           255           228              2.0           7.50

   fare_amount  extra  mta_tax  tip_amount  tolls_amount ehail_fee  \
0         18.0   0.50      0.5         0.0           0.0      None
1          5.0   3.25      0.5         0.0           0.0      None
2         21.5   0.50      0.5         0.0           0.0      None

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    0.3         19.30           2.0        1.0
1                    0.3          9.05           2.0        1.0
2                    0.3         22.80           2.0        1.0

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0

In [25]:
query = """
SELECT *
FROM zones
LIMIT 1
"""

result = pd.read_sql_query(query, conn)
print(result)

   LocationID Borough            Zone service_zone
0           1     EWR  Newark Airport          EWR

In [41]:
query = """
SELECT COUNT(*)
FROM trips
WHERE trip_distance > 10
AND date(lpep_pickup_datetime) >= '2019-10-01'
AND date(lpep_pickup_datetime) < '2019-11-01'
"""

result = pd.read_sql_query(query, conn)
print(result)

   COUNT(*)
0     35201

In [49]:
query = """
SELECT MAX(trip_distance) AS distance, date(lpep_pickup_datetime)
FROM trips
"""

result = pd.read_sql_query(query, conn)
print(result)

   distance date(lpep_pickup_datetime)
0    515.89                 2019-10-31

In [91]:
query = """
SELECT COUNT(*), SUM(total_amount), z.zone
FROM trips AS t
LEFT JOIN zones AS z
ON t.PULocationID = z.LocationID
WHERE date(t.lpep_pickup_datetime) = '2019-10-18'
GROUP BY z.Zone
ORDER BY COUNT(*) DESC
"""

result = pd.read_sql_query(query, conn)
print(result)

     COUNT(*)  SUM(total_amount)                         Zone
0        1236           18686.68            East Harlem North
1        1101           16797.26            East Harlem South
2         931           12440.66               Central Harlem
3         821           12431.96                     Elmhurst
4         764           13029.79          Morningside Heights
..        ...                ...                          ...
230         1              45.13              Lower East Side
231         1              50.02          Little Italy/NoLiTa
232         1              24.80  Heartland Village/Todt Hill
233         1              21.30    Forest Park/Highland Park
234         1              26.00            Battery Park City

[235 rows x 3 columns]

In [101]:
query = """
SELECT MAX(tip_amount), zd.zone
FROM trips AS t
LEFT JOIN zones AS zup
ON t.PULocationID = zup.LocationID
LEFT JOIN zones AS zd
ON t.DOLocationID = zd.LocationID
WHERE date(t.lpep_pickup_datetime) >= '2019-10-01'
AND date(t.lpep_pickup_datetime) < '2019-11-01'
AND zup.zone = "East Harlem North"
"""

result = pd.read_sql_query(query, conn)
print(result)

   MAX(tip_amount)         Zone
0             87.3  JFK Airport